* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: greenyellow;
  color: red;
}

.Booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.Book {
  background: blue;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.Book img {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .Booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
